// Basics
@import 'tools/pre';
@import 'typography/embed';

// Define output settings for project
$output: set-output(css, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';

body {
	background-color: color(WhiteSecond);
	height: auto;
	overflow-x: hidden;
}

main.center {
	width: 100vw;
}

.section {
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-wrap: wrap;
	padding: 80px 0;
	@media #{$large-down} {
		padding: 80px 20px;
	}
	@media #{$medium-down} {
		padding: 40px 20px;
	}

	&__cases-archive {
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 2px solid color(WhiteThird);
	}
}
.cases-archive {
	&__short-cases {
		margin: 40px 0;
		width: calc(30% - 30px);
		background: green;

		@media #{$medium-down} {
			width: 100%;
		}
	}
}

img:not([alt]), img[alt=""] {
	outline: none;
}
