// Basics
@import 'tools/pre';
@import 'typography/embed';

// Define output settings for project
$output: set-output(css, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';

body {
	background-color: color(WhiteSecond);
	height: auto;
	overflow-x: hidden;
}

.section {
	width: 100vw;
	max-width: 1260px;
	display: flex;
	flex-wrap: wrap;

	&__cases-archive {
		flex-direction: row;
		justify-content: space-around;
	}
}
.cases-archive {
	&__short-cases {
		margin: 40px 0;
		width: calc(30% - 30px);
		background: green;
	}
}

img:not([alt]), img[alt=""] {
	outline: none;
}


.button {
	&--full-black {
		padding: 10px 0;
		min-width: 170px;
		text-align: center;
		background-color: color(Black);
		color: color(WhiteSecond);
		text-transform: uppercase;
	}
	&--blue {
		color: color(StrongBlue);
		text-transform: uppercase;

		&::before {
			content: '>';
		}
	}
}