@font-face {
	font-family: 'Teko';
	font-weight: normal;
	src: url('~static/fonts/Teko-Regular.eot'); /* IE9 Compat Mode */
	src: url('~static/fonts/Teko-Regular.woff') format('woff'),
			url('~static/fonts/Teko-Regular.woff2') format('woff2'),
			url('~static/fonts/Teko-Regular.eot') format('eot');
}
  
@font-face {
	font-family: 'MaisonNeueBold';
	font-weight: normal;
	src: url('~static/fonts/MaisonNeue-Bold.eot'); /* IE9 Compat Mode */
	src: url('~static/fonts/MaisonNeue-Bold.woff') format('woff'),
			url('~static/fonts/MaisonNeue-Bold.woff2') format('woff2'),
			url('~static/fonts/MaisonNeue-Bold.eot') format('eot');
}
@font-face {
	font-family: 'MaisonNeueBook';
	font-weight: normal;
	src: url('~static/fonts/MaisonNeue-Book.eot'); /* IE9 Compat Mode */
	src: url('~static/fonts/MaisonNeue-Book.woff') format('woff'),
			url('~static/fonts/MaisonNeue-Book.woff2') format('woff2'),
			url('~static/fonts/MaisonNeue-Book.eot') format('eot');
}
  

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
	font-family: 'Teko';
	&.sub {
		font-weight: 400;
	}
}
.button {
	font-family: 'MaisonNeueBold';
	line-height: 2;
}

body, p{
	font-family: 'MaisonNeueBook';
	line-height: 1.59;
}

span, label {
	font-family: 'MaisonNeueBold';
	line-height: 2;
	text-transform: uppercase;
}