* {
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  &.sub {
    font-weight: 400;
  }
}

h1 {
	font-size: grid(1);
	line-height: 1;
	letter-spacing: -1px;
  font-weight: 500;
  color: color(Black);
	text-transform: uppercase;
	@include min-('font-size', 1, 40);
}

h2 {
	font-size: 400px;
  line-height: 1;
  color: color(Black);
  @media #{$medium-down} {
    font-size: 170px;
  }
}

h3 {
	font-size: 60px;
  line-height: 1.07;
  color: color(BlackTwo);
  @media #{$medium-down} {
    font-size: 30px;
  }
}

h4 {
  color: color(BlackTwo);
  font-size: 30px;
  font-weight: normal;
	line-height: 1.07;
}

h5 {
  font-size: 18px;
  line-height: 1.78;
  font-weight: normal;
}
body, p {
  color: color(Black);
}

blockquote {
  font-size: 36px;
  line-height: 1.28;
  @media #{$medium-down} {
    font-size: 24px;
  }
}
cite {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 2.31;
}

a {
  text-decoration: none;
}
label {
  text-transform: uppercase;
  font-size: 15px;
}